<h1> Stations Near You </h1>
<% @stations.each do |station| %>
  <p><%= station.name %></p>
  <p><%= station.address %></p>
  <p><%= station.fuel_types %></p>

  <p><%= station.access_times %></p>
<% end %>
